@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Archivo', sans-serif;
}

body,html,#root {
  @apply h-full w-full bg-white dark:bg-black dark:text-white;
  
}


.hide-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.card{
    width: 380px;
    position: relative;
    height: 500px;
    /* border-radius: 20px; */
    overflow: hidden;
}


/* .container .card::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--clr),transparent,transparent);
    width: 400px;
    height: 400px;
    transform: translate(-50%,0%);
    opacity: 0;
    transition: 0.5s, top 0s, left 0s;
} */

.card:hover::before{
    opacity: 1;
    
}
 .card::after{
    /* content: ''; */
    position: absolute;
    inset: 2px;
    border-radius: 18px;
    background: rgba(24, 22, 22, 0.6);
}
.card:hover{
    scale: 1.05;
    transition: 0.5s;
}


* {
  scroll-behavior: smooth;
}

  .myH1{
    background: linear-gradient(0,#e44141,#4f2af3);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
  }

  #bubbles{
    width: 100%;
    height: 100%;
  }

  #secA{
    background-image: url("assets/robot-hand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    
  }


.bubble{
  border-radius: 50%;
}