@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: black;
}
.mainSection{
    position: relative;
    /* background-image: url("./assets/freepik__upload__47240.jpeg"); */
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
}
